.Hole2 {
    text-align: center;
    height: 100vh;
  }
  
  .Hole2-Course {
    height: 150px;
    pointer-events: none;
  }
  
  .Hole2-Club{
    background-color: #008037;
    float: left;
    height: 55vh;
    object-fit: cover;
  }
  
  .Hole2-header {
    background-color: #008037;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  