.Hole5 {
    text-align: center;
    height: 100vh;
  }
  
  .Hole5-Course {
    height: 20vmin;
    pointer-events: none;
  }
  .Hole5-Club{
    float: left;
    width:  400x;
    height: 400px;
    object-fit: cover;
  }
  
  
  .Hole5-header {
    background-color: #008037;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }